html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #444343;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    background-color: #444343;
    color: #d4cece;
}

.scores {
    display: flex;
    justify-content: space-between;
    padding: 10%;
    background-color: #555252

}

#notification {
    width: 100%;
    font-size: 24px;
    text-align: center;
}

button {
    height: 50%;
    width: 20%;
    border-radius: 50px;
    font-size: 24px;
    background-color: #d4cece;
}

#playerDiv, #computerDiv {
    border-style: solid;
    padding: 10%;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    font-size: 24px;
    background-color:  #d4cece
}